$nav-primary-text-color: #fff;
$nav-secondary-text-color: #A0ABC0;
$category-color: #2975A7;

$logo-text-size: 1.5rem;
$nav-text-size: .9rem;
$body-1-text-size: 1rem;
$body-2-text-size: .8rem;
$body-3-text-size: .6rem;
$table-text-size: .8rem;
$breadcrumb-text-size: .6rem;
$sidebar-active-width: 240px;
$sidebar-closed-width: 78px;
$sidebar-item-height: calc($nav-text-size * 3.5);

$logo-text-size: 1.5rem;

$dark-purple: #2f243a;
$english-violet: #444054;
$silver: #BEBBBB;

// Media query sizes
$small-screen-width: 800px;
